<h2>New Project</h2>

<%= form_with(model: @project, local: true, scope: :project) do |form| %>
  <%= render "shared/error_messages", errors: @errors %>
  
  <p>
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "text mb-2" %>
  </p>

  <%= form.submit class: "btn btn-blue" %>
<% end %>
